h1{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: green;
     text-align: center;
}

table{
margin: auto;
margin-bottom: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: yellow;

font-size: 30px;
}


button{
    margin-top: 20px;
     height: 55px;
  width: 250px;
 background-color:rgb(251, 255, 2);
   font-family: Arial, Helvetica, sans-serif;
  
   font-size: 30px; 
}

.buttonsn1{
     height: 55px;
  width: 55px;
 background-color:rgb(230, 230, 49)
}
.buttonsn2{
     height: 55px;
  width: 55px;
 background-color:greenyellow
}
.buttonsn3{
     height: 55px;
  width: 55px;
 background-color:rgb(230, 230, 49)
}
.buttonsn4{
     height: 55px;
  width: 55px;
 background-color:greenyellow
}


.win{
    display: none;
}
.win p{
  
    background-color:rgb(138, 221, 14);
  display: inline-block;
  font-size: 20px;
  white-space: nowrap;
  border-radius: 50px;

  border: 3px solid yellow;

}
.hearts{

   transform: scale(2);
}
h1 span{
    color: rgb(239, 52, 114)
}

.losing p{
  
    background-color:rgb(138, 221, 14);
  display: inline-block;
  font-size: 20px;
  white-space: nowrap;
  border-radius: 50px;

  border: 3px solid yellow;

}
.losing{
    display: none;
}
.timer{
    color: yellow;
font-size: 21px;
  
}
.end{
    color:yellow;
    font-size: 17px;
}